@font-face {
  font-family: "Neue Montreal";
  src: url("https://uploads-ssl.webflow.com/62d57921074baa1ce7275405/6345934c91dabedc4b230fe4_PPNeueMontreal-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
